<!DOCTYPE html>
<html>
<head>
    <title>
        Poetracker
    </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
    <div id = "overlay" style = "position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 1;"></div>

    <div style="width: 500px; height: 500px; position: relative; margin:auto; top:225px">
    <h1 id="prompt" style= "text-align: center;">Hello!</h1>
    <form style = "text-align: center;" method="POST" action="/gptapi">
        <input type="text" placeholder="" name="feel" id="feel">
        <button id="btn" type="button" onclick="submitThought()" style="display:none">Submit</button>

        <input type="text" id="type" name="type" style="display:none">
        <input type="text" id="length" name="length" style="display:none">
        <br><br>
        <input type="submit" value="Generate Poem" onclick="generate()">
    </form>
    <div style="position: relative; margin:auto; left: 220px; top: 10px">
        <button type="button" onclick="journal()">Journal</button>
    </div>
    </div>

    </footer>
</body>
<script>
    let journalOn = false;
    let journalDay;


    function journal() {
        let day = prompt("Which day would you like to reflect on? ");
        journalDay = day;
        journalOn = true;
    }

    const promptsArray = ["How are you feeling right now, in this moment? ", 
        "Can you describe a recent situation that made you feel really happy or content? ", 
        "What's been on your mind lately that has been causing you stress or anxiety? ", 
        "What's been on your mind lately that has been causing you stress or anxiety? ", 
        "Is there a particular memory from your past that still evokes strong emotions when you think about it? ",
        "What are some activities or hobbies that genuinely make you feel excited or passionate? ",
        "Can you recall a time when you felt proud of yourself? What did you achieve or overcome? ",
        "Have you experienced any moments of sadness or grief recently? What's been causing those emotions? ",
        "Describe a time when you felt a deep sense of gratitude or appreciation for something or someone. ",
        "Are there any emotions you find challenging to express or confront? Why do you think that is? ",
        "Do you notice any recurring emotional patterns or themes in your life? ",
        "How do you typically cope with difficult emotions? Are there healthy strategies that work for you? ",
        "Are there any emotional goals or personal growth areas you'd like to explore or work on? ",
        "What kind of music, art, or literature resonates with your emotions? Can you give examples? ",
        "Do you find it easier to express your emotions verbally, through writing, or through other creative outlets? ",
        "How do you think your emotional state affects your relationships with others? "];
    const thoughtsHis = [];

    let btn = document.getElementById('btn');
    btn.addEventListener('click', (ev)=>{
    });
    document.addEventListener('keypress', (event)=>{
        let keyCode = event.keyCode ? event.keyCode : event.which;
        if(keyCode === 13) {
            event.preventDefault();
            btn.click();
        } 
    });

    function inputThoughts() {
        let randIndex = Math.floor(Math.random() * promptsArray.length);
        let prompts = promptsArray[randIndex];
        document.getElementById("prompt").innerHTML = "Write away, or answer the following: " + prompts;
    }   

    function submitThought(){
        var input = document.getElementById("feel");
        thoughtsHis.unshift(input.value);
        input.value = "";
        inputThoughts();
        console.log(thoughtsHis);
    }

    function generate(){
        if (journalOn) {
            let typ = prompt("What type of poem would you like to generate? ");
            let len = prompt("How long should the poem be? ");
            let thoughts = localStorage.getItem(journalDay);
            console.log(thoughts);

            document.getElementById("feel").value = thoughts;
            document.getElementById("type").value = typ;
            document.getElementById("length").value = len;
            document.getElementById("overlay").style.display = "block";

            journalOn = false;
        }

        else {
            let typ = prompt("What type of poem would you like to generate? ");
            let num = prompt("How many thoughts should be incorporated? ");
            let len = prompt("How long should the poem be? ");
            let thoughts = "";

            for (let i = 0; i < Math.min(num, thoughtsHis.length); i++) {
                thoughts += thoughtsHis[i] + " ";
            }

            const date = new Date();
            let day = date.getDate();
            day = day.toString();
            localStorage.setItem(day, thoughts);

            document.getElementById("feel").value = thoughts;
            document.getElementById("type").value = typ;
            document.getElementById("length").value = len;
            document.getElementById("overlay").style.display = "block";
        }
    }

    localStorage.setItem("14", `
    Ugh, I can't believe it's 3 AM and I'm still here at this hackathon. My eyes are burning from staring at this code for hours on end, and my coffee cup is just a sad, empty vessel now. I thought this would be a fun weekend project, but it's turned into an endurance test.
    I started off with so much enthusiasm, full of ideas and motivation. But now, I'm just tired and frustrated. Bugs keep popping up out of nowhere, and my teammates and I are at each other's throats trying to figure out what's gone wrong. I miss my bed, I miss real food, and I miss the concept of free time. All I want to do right now is submit something that works and get a few hours of sleep. But I know that's not going to happen anytime soon. So, I guess I'll just keep on coding and hope that I can make it to the finish line without completely losing my sanity.`
    );
    localStorage.setItem("7", `
    I can't help but feel a heavy sadness as I watch my old best friend, the person I once shared everything with, slowly drift away from my life. She's leaving the school soon, and I thought I had come to terms with it, but the truth is, I'm not over it at all. We used to be inseparable, and now it feels like we're strangers passing in the hallway. It's like a part of me is missing, and no matter how hard I try to move on and make new friends, there's a void that can't be filled.`
    );
    inputThoughts();
</script>
</html>